<app-global-error></app-global-error>

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <a routerLink="/themes/0"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Themes</a>
            <div *ngIf="!isLogedIn(); else logout">
                <a routerLink="/register"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Register</a>
                <a routerLink="/login"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Login</a>
            </div>
            <ng-template #logout>
                <button (click)="submitLogout()"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Logout</button>
            </ng-template>
        </div>
    </div>
</nav>

<div class="max-w-2xl container mx-auto pt-5">
    <h1 class="font-bold mb-2 text-center">Hello {{ title }}</h1>

    <router-outlet></router-outlet>

</div>